.container {
  padding: 20px;
  font-family: Arial;
  background: #e68f8f;
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
}

.cart-section {
  background: #e594c2;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input {
  width: 80;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14x;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #796721;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #83e9ee;
  margin-bottom: 8px;   
  border-radius: 6px;
}

input[placeholder*="Search"] {
  margin-bottom: 15px;
  border: 2px solid #2c7be5;
}